#### (1)-
##### Data encoding is a technique of converting categorical variables into numerical values so that it can be easily fitted into machine learning model. Data encoding is of 3 types-
- Nominal Encoding/ One Hot Encoding
- Label and Ordinal Encoding
- Target Guided Ordinal Encoding
##### It is useful in data science becuase if our dataset contains categorical variables and we feed this dataset to our ML model for training, then our model won't be able to comprehend the categorical variables. So, proper training won't happen. There data encoding comes into picture and it converts categorical values to meaningful numerical values which our model can understand.

#### (2)-
##### Nominal encoding is a data encoding technique used to represent categorical data as numerical data. Each category of the categorical variable is encoded as a binary vector. For Ex) If we have a categorical variable "color" with 3 unique categories- Red, Green, Blue, we can represent them as Blue- [1,0,0], Green= [0,1,0], Red= [0,0,1]

In [4]:
# example of nominal encoding-

import pandas as pd
df= pd.DataFrame({"city": ["Mumbai", "Goa", "Bhubaneswar", "Bengaluru", "Hyderabad", "Bengaluru", "Goa", "Bhubaneswar"]})
df

          city
0       Mumbai
1          Goa
2  Bhubaneswar
3    Bengaluru
4    Hyderabad
5    Bengaluru
6          Goa
7  Bhubaneswar

In [5]:
from sklearn.preprocessing import OneHotEncoder
encoder= OneHotEncoder()
encoder.fit_transform(df[["city"]])

<8x5 sparse matrix of type '<class 'numpy.float64'>'
	with 8 stored elements in Compressed Sparse Row format>

In [7]:
encoded= encoder.fit_transform(df[["city"]]).toarray()
encoded

array([[0., 0., 0., 0., 1.],
       [0., 0., 1., 0., 0.],
       [0., 1., 0., 0., 0.],
       [1., 0., 0., 0., 0.],
       [0., 0., 0., 1., 0.],
       [1., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0.],
       [0., 1., 0., 0., 0.]])

In [10]:
encoded_df= pd.DataFrame(encoded, columns= encoder.get_feature_names_out())
pd.concat([df, encoded_df], axis=1)

,city,city_Bengaluru,city_Bhubaneswar,city_Goa,city_Hyderabad,city_Mumbai
0,Mumbai,0.0,0.0,0.0,0.0,1.0
1,Goa,0.0,0.0,1.0,0.0,0.0
2,Bhubaneswar,0.0,1.0,0.0,0.0,0.0
3,Bengaluru,1.0,0.0,0.0,0.0,0.0
4,Hyderabad,0.0,0.0,0.0,1.0,0.0
5,Bengaluru,1.0,0.0,0.0,0.0,0.0
6,Goa,0.0,0.0,1.0,0.0,0.0
7,Bhubaneswar,0.0,1.0,0.0,0.0,0.0

#### (3)-
##### We should use One Hot Encoding when we have a categorical variable with less no. of unique categories, else if we have more no. of unique categories then we will get a large sparse matrix and it will lead to over fitting of the ML mode during training phase. OHE is prefered over Label encoding when we have nominal data in the categorical variable i.e. the categories aren't to be ranked. Because Label encoding assigns each category of the categorical variable an unique numerical label based on alphabetical order, this makes the ML model biased to ranking or position by assuming one category is greater than other.
##### Nominal encoding is of 3 types- One Hot Encoding, One Hot Encoding(Multiple categories), Mean Encoding.

In [2]:
# example- 
import pandas as pd
df= pd.DataFrame({"color": ["red","blue","green","green","red","blue"]})
df

   color
0    red
1   blue
2  green
3  green
4    red
5   blue

In [4]:
# create an instance or object of OneHotEncoder-
from sklearn.preprocessing import OneHotEncoder
encoder= OneHotEncoder()

#perform fit and transform-
encoder.fit_transform(df[["color"]])

<6x3 sparse matrix of type '<class 'numpy.float64'>'
	with 6 stored elements in Compressed Sparse Row format>

In [5]:
encoded= encoder.fit_transform(df[["color"]]).toarray()
encoded

array([[0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 0.]])

#### (4)-
##### If the 5 unique categories in the categorical variable are of ordinal data type i.e. they can be ranked or given a position, then we use Ordinal Encoding. If the categories are of nominal data type, then we use One Hot Encoding, because we have 5 unique categories, so the sparse matrix won't be much large and it won't lead to overfitting. We shouldn't use label encoding because it will assign numerical labels to each category of the categorical variable based on alphabetical order, so it will make the ML model biased.

#### (5)-
##### The data set has 5 columns and 1000 rows. 2 columns are categorical, and we use nominal encoding to transform the categorical data. So, let's say one categorical variable has 2 unique categories and another categorical variable has 3 unique categories. So, we will get 5 new columns using these unique categories. So, we will get a 1000 X 5 sparse matrix. The total no. of columns are the 3 numerical columns plus these 5 new columns i.e. 8 columns which will be given to the ML model for training.

#### (6)-
##### The dataset has these categorical features- Type, Species, Habitat, diet. All these are nominal type values and not ordinal, so they can't be ranked. Thus we can't use ordinal Encoding. We can't also use Target Guided Ordinal Encoding because we don't have any numerical target variable. We can't also use One Hot Encoding because we have 4 categorical variables and these may have many categories each, so a large sparse matrix will be generated, i.e. many new columns will be added so it will lead to overfitting. We can use Label Encoding, and can assign unique numerical values to the categories based on their frequency of occurence.

#### (7)-
##### The dataset has customer's-  gender, age, contract type, monthly charges, tenure. So, we have 2 categorical features i.e. gender and contract type. So, we can use One Hot Encoding to convert these categorical values to numerical values. It will encode each category as a binary vector.
- First we will view the dataset in a data framne df. 
- Then we will import OneHotEncoder from sklearn.preprocessing.
- We instantiate the OneHotEncoder class by making an object of it let's say encoder.
- Then, we pass these 2 categorical features as arguments of the fit_transform functionality of the OneHotEncoder class i.e. encoder.fit_transform(df[["gender", "contract"]])
- we convert the output to an array - encoder.fit_transform(df[["gender", "contract"]]).toarray() and view that the unique categories have been converted to binary vectors
- we give these converted categorical columns having numerical values instead of the original categorical features for training of the ML model.